<a href="https://colab.research.google.com/github/LucasSahlean/Repositorio/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!gdown 1puf9UBuzaVqMW3ZMMXhd626E5yVJd_QX

Downloading...
From: https://drive.google.com/uc?id=1puf9UBuzaVqMW3ZMMXhd626E5yVJd_QX
To: /content/data_berka.db
100% 70.2M/70.2M [00:00<00:00, 91.0MB/s]

In [9]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
%sql sqlite:///data_berka.db

In [10]:
%%sql
SELECT name, type
FROM sqlite_master
WHERE type = "table"

 * sqlite:///data_berka.db
Done.

[('DISTRICT', 'table'),
 ('ACCOUNT', 'table'),
 ('TRANS', 'table'),
 ('CLIENT', 'table'),
 ('DISPOSITION', 'table'),
 ('CREDIT_CARD', 'table'),
 ('LOAN', 'table'),
 ('PERMANENT_ORDER', 'table')]

ejercicios# Nueva sección

In [11]:
%sql SELECT COUNT * FROM CLIENT LIMIT 5

 * sqlite:///data_berka.db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: SELECT COUNT * FROM CLIENT LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [13]:
%sql SELECT count(*) from trans

 * sqlite:///data_berka.db
Done.

[(1056320,)]

In [25]:
%%sql

SELECT
  c.client_id AS Cliente
  ROUND(SUM(l.amount), 2) AS Importe_Prestado
  ROUND(SUM(t.amount), 2) AS Importe_Trans
  SUM(CASE

  )
  FROM CLIENT c
  LEFT JOIN DISPOSITION d ON d.client_id = c.client_id
  LEFT JOIN ACCOUNT a ON a.account_id = d.account_id
  LEFT JOIN LOAN l ON l.account_id = a.account_id
  LEFT JOIN TRANS t ON t.account_id = a.account_id
  WHERE d.type = 'OWNER'
  group by c.client_id
  LIMIT 5

 * sqlite:///data_berka.db
(sqlite3.OperationalError) no such column: client
[SQL: SELECT
  client,
  name,
  COUNT(account) AS cantidad_cuentas
FROM
  account
JOIN
  client ON account = client
GROUP BY
  client
HAVING
  COUNT(account) > 1;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [27]:
%%sql

SELECT *
FROM TRANS
WHERE date LIKE '1998-%'
ORDER BY amount DESC
LIMIT 10;

 * sqlite:///data_berka.db
Done.

[]

In [29]:
SELECT

  AVG(balance) AS saldo_promedio
FROM (
  SELECT
    client.id,
    account.balance,
    CASE WHEN EXISTS (
      SELECT 1
      FROM account AS a2
      WHERE a2.client_id = client.id AND a2.type = 'prestamo'
    ) THEN 'Con préstamo' ELSE 'Sin préstamo' END AS tiene_prestamo
  FROM client
  JOIN account ON account.client_id = client.id
) sub
GROUP BY tiene_prestamo;

IndentationError: unexpected indent (ipython-input-29-815993196.py, line 3)

In [ ]:
%%sql

SELECT

In [ ]:
CASE
WHEN MAX(t.balance) > 0 THEN 'BAJO'
WHEN MAX(t.balance) > 0 AND MAX(t.balance) >= (SELECT medium_Limit FROM Limits) THEN 'MEDIO'